<!DOCTYPE html>
<html lang="fa">

<head>
   <partial name="_MetaTagsAccount" />
    <title>یکتا کالا | ‌@ViewData["Title"]</title>
   <partial name="_StyleAccount" />
</head>

<body>

    <div class="page-wrapper">
       
      <partial name="_HeaderAccount" />

        @RenderBody()

        <partial name="_FooterAccount" />
      
    </div>


    <partial name="_JsRefrences" />
    <partial name="_SiteNotification" />
</body>

</html>