<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" id="large_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="large_modal_body">
            <div class="modal-header">
                <h5 class="modal-title" id="Large_Modal_Title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" 
                style="background-color: transparent;
                        color: #ff0000;
                        border: none;
                        font-size: 24px;
                        cursor: pointer;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Large_Modal_Body"></p>
            </div>

        </div>
    </div>
</div>


